body {
    background-color: #006600;
    color: #ffffff;
    font-weight: bold;
}
table {
    background-color: #005000;
}
th {
    text-align: center;
}
td {
    text-align: right;
    font-weight: normal;
}
.teamName {
    text-align: left;
}