body {
    background-color: #1A3821;
    color: #ffffff;
    font-weight: bold;
    text-align: center;
}
th {
    text-align: center;
    min-width: 40px;
}
td {
    text-align: right;
    font-weight: normal;
}
.teamName {
    text-align: left;
}